<br>
<br>
<h3>Contact Us</h3>
<p>

Tim Webster, Ph.D. <br>
Assistant Professor <br>
Department of Anthropology <br>
University of Utah <br>
<br>
email: timothy.h.webster (#!) utah.edu <br>
</p>

<p>
 <h3> Interested in joining PEGL? </h3>
 We are currently recruiting graduate students! Please see <a href="{{ site.url }}/join">our opportunities page</a>
 for more information about these and other positions.<br>
</p>

<h3> Recent News </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
