---
title: Webster Lab Members
layout: members
group: members
---

<h1>PEGL Members</h1>

The PEGL (Webster Lab) welcomes people of any race, gender identity, sexual orientation, religion, nationality, or disability status.<br>
<br>
While PEGL is based at the University of Utah, we have members from a number of different
institutions. Together, we all share an interest in fostering a safe, inclusive,
supportive, and collaborative environment in which we work together to understand
human and nonhuman primate diversity.

<!-- <h5>See our<a href="/compact/"> lab compact and philosophy</a>.</h5> -->

<hr>
<div class="row" style="padding-top: 60px; margin-top: -60px;" id="current_members">
<h3>Current Lab Members<h3>
</div>

{% for member in site.members %}
        {% if member.github == 'thw17' %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position}} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">Website</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
        {% endif %}
{% endfor %}

{% for member in site.members %}
        {% if member.github != 'thw17' && member.status == 'current' %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.position}} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">Website</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
        {% endif %}
{% endfor %}

<hr>
<div class="row" style="padding-top: 60px; margin-top: -60px;" id="alumni">
<h3>Lab Alumni<h3>
</div>

{% for member in site.members %}
        {% if member.github != 'thw17' && member.status == 'alumni' %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {% if member.pronouns %}
                  <em>{{member.pronouns}}</em> <br>
                {% endif %}
                {{member.current}} <br>
                <em>{{member.email}}</em> <br>
                {% if member.website %}
                  <a style="overflow-wrap: break-word;" href= "{{member.website}}">Website</a> <br>
                {% endif %}
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.UCSF %}
                  <a href="http://www.ucsf.edu"><img class="inline-block mem-icon" src="/static/img/ucsf_logo_black.svg"></a>
                  <a href= "http://profiles.ucsf.edu/{{member.UCSF}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
        {% endif %}
{% endfor %}

<hr>
